{{ partial "header.html" . }}

<h1>{{.Title}}</h1>
{{ .Content }}
</br>

<table class="post_nav_bar">
  <tr class="post_nav_row">
    <td class="post_nav_prev"> 
      {{if .PrevInSection}} 
        <a href={{.PrevInSection.Permalink}}>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-angle-left fa-stack-1x fa-inverse"></i>
        </span>
      </a> 
      {{end}} 
    </td>
    <td class="post_nav_home"> 
      <a href="{{.Site.BaseURL}}/blog/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
      </a> 
    </td>
    <td class="post_nav_next"> 
      {{if .NextInSection}} 
        <a href={{.NextInSection.Permalink}}>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
          </span>
        </a> 
      {{end}} 
    </td>
  </tr>
</table>

{{ partial "footer.html" . }}