/*Page wide settings*/

html
{
  background-color: #FFFEFD;
  font-family: 'Martel', serif;
  margin-top:0px;
}

body
{
  margin-left: auto;
  margin-right: auto;
  margin-top:64px;
  width: 900px;
  margin-bottom:64px;
}


.header
{
  background-color: #FFFEFD;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:64px;
  line-height: 32px;
  border-bottom: 1px dashed gray;
}

.header-content
{
  margin-left: auto;
  margin-right: auto;
  width:900px;
}

h1.page_title
{
  float:left;
}

.fa
{
  color:black;
}

.fa.top_nav
{
  float:right;
  text-align: right;
  margin-top:16px;
  margin-left:32px;
}

p
{
  text-align: justify;
}

a
{
  color: #317EFF;
}

a:hover
{
  color: #099BF8;
}

table
{
  width: 100%;
}

tr
{
  padding-top:100px;
  padding-bottom:10px;
  border: 1px solid black;
}

td
{
  padding: 5px; 
  padding-left: 20px;
}

td.image
{
  text-align:center;
}

img.miniature
{
  height: 128px;
}

/*Post summary elements*/

ul.posts_summary
{
  list-style-type: none;
  padding:0px;
}

li.posts_summary
{
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px dashed lightgray;
}

a.posts_summary
{
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  color:black;
}

a.read_more
{
  text-align:right;
  float:right;
  text-decoration:none;
}

#time
{
  font-size:11px;
  text-align: right;
  color:gray;
  float:right;
  line-height:48px;
}

/*Post setting wide settings*/
table.post_nav_bar
{
  border-top: 1px dashed lightgray;
  width:100%;
}

td.post_nav_prev
{
  text-align: left;
  width:33%;
}
td.post_nav_home
{
  text-align: center;
  width:33%;
}
td.post_nav_next
{
  text-align: right;
  width:33%;
}