{{ partial "header.html" . }}

<p>I am currently a graduate student at <a href = "http://cs.princeton.edu/">Princeton University</a>, where I am a member of the <a href = "http://gfx.cs.princeton.edu/">Graphics</a> and <a href = "http://vision.cs.princeton.edu/">Vision</a> groups, working with prof. <a href = "http://www.cs.princeton.edu/~funk/" >Thomas Funkhouser</a>. These days you can usually find me in Princeton's Computer Science Department building, office 414.</p>

<p>Prior to coming to Princeton, I was studying in at <a href = "http://www.ucl.ac.uk/"> University College London</a>, where I received Master of Engineering degree, working with prof. <a href = "http://www0.cs.ucl.ac.uk/people/S.Julier.html"> Simon Julier</a> and prof. <a href = "http://www0.cs.ucl.ac.uk/staff/n.mitra/"> Niloy Mitra.</a> </p>


<br>
<h2> Publications </h2>

<table >
  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/scannet.png"></td>
    <td>      
      A. Dai, A. X. Chang, M. Savva, <b>M. Halber</b>, T. Funkhouser, M. Nießner;<br>
      <i>ScanNet: Richly-annotated 3D Reconstructions of Indoor Scenes</i><br>
      arXiv 20177<br>
      <a href = "https://arxiv.org/pdf/1702.04405">[pdf]</a>
      <a href = "http://www.scan-net.org/">[webpage]</a>
    </td>
  </tr>

  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/detailtransfer.jpg"></td>
    <td>      
      S. Berkiten, <b>M. Halber</b>, J. Solomon, C. Ma, H. Li,  S. Rusinkiewicz; <br>
      <i>Learning Detail Transfer based on Geometric Features</i><br>
      Eurographics 2017<br>
      <a href = "http://surfacedetails.cs.princeton.edu/materials/surface_details_EG2017.pdf">[pdf]</a>
      <a href = "http://http://surfacedetails.cs.princeton.edu/">[webpage]</a>
    </td>
  </tr>

  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/fine2coarse.png"></td>
    <td>      
      <b>M. Halber</b>, T. Funkhouser; <br>
      <i>Fine-To-Coarse Global Registration of RGB-D Scans</i><br>
      arXiv 2016<br>
      <a href = "https://arxiv.org/pdf/1607.08539v3.pdf">[pdf]</a>
    </td>
  </tr>

  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/VARVAI16.png"></td>
    <td>      
      E. Sizikova, V. K. Singh, B. Georgescu, <b>M. Halber</b>, K. Ma, T. Chen; <br>
      <i>Enhancing Place Recognition using Joint Intensity - Depth Analysis and Synthetic Data</i><br>
      ECCV Workshop on Virtual/Augmented Reality for Visual Artificial Intelligence (VARVAI) 2016<br>
      <a href = "http://www.cs.princeton.edu/~sizikova/files/eccvw16.pdf">[pdf]</a>
      <a href = "http://www.cs.princeton.edu/~sizikova/files/eccvw16_poster.pdf">[poster] </a>
      <a href = "http://www.cs.princeton.edu/~sizikova/projects/eccvw16/eccvw16.html">[webpage]</a>
    </td>
  </tr>

  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/isomatch.png"></td>
    <td>      
      O. Fried, S. DiVerdi, <b>M. Halber</b>, E. Sizikova and A. Finkelstein; <br>
      <i>IsoMatch: Creating Informative Grid Layouts</i><br>
      Eurographics 2015<br>
      <a href = "http://www.cs.princeton.edu/~ohad/papers/FriedDiVerdiHalberSizikovaFinkelstein_Eurographics2015_HighRes.pdf">[pdf]
      </a> <a href = "http://www.cs.princeton.edu/~ohad/papers/FriedDiVerdiHalberSizikovaFinkelstein_Eurographics2015_LowRes.pdf">[pdf-small]
      </a> <a href = "https://www.youtube.com/watch?v=WHSAOO8ekM0">[video]</a>
    </td>
  </tr>

  <tr>
    <td class="image"><img class="miniature" src="assets/publ_thumbs/cwblen.jpg"></td>
    <td>      
      <b>M. Halber</b>; <br>
      <i>Blender Poradnik Praktyczny</i><br>
      ISBN 83-246-1190-8
    </td>
  </tr>

</table>
<!--</div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​-->

{{ partial "footer.html" . }}